In [1]:
import numpy as np

In [2]:
# For L-inf
pixels = np.arange(8, 256*2+1, 16)
values = pixels / 256

print('values:')
print(*np.round(values, 2), sep=',')

values:
0.03,0.09,0.16,0.22,0.28,0.34,0.41,0.47,0.53,0.59,0.66,0.72,0.78,0.84,0.91,0.97,1.03,1.09,1.16,1.22,1.28,1.34,1.41,1.47,1.53,1.59,1.66,1.72,1.78,1.84,1.91,1.97

In [3]:
# For L2
values = np.arange(1, 11, 1)
values = [0.5] + list(values)

print('values:')
print(*values, sep=',')

values:
0.5,1,2,3,4,5,6,7,8,9,10

In [4]:
# For CIFAR10
# For L-inf
pixels = np.arange(4, 128, 4)
values = [0.01] + list(pixels / 256)

print('values:')
print(*np.round(values, 2), sep=',')

values:
0.01,0.02,0.03,0.05,0.06,0.08,0.09,0.11,0.12,0.14,0.16,0.17,0.19,0.2,0.22,0.23,0.25,0.27,0.28,0.3,0.31,0.33,0.34,0.36,0.38,0.39,0.41,0.42,0.44,0.45,0.47,0.48

In [5]:
# For L2
values = np.arange(0.3, 4.2, 0.3)
values = [0.1] + list(values)
print('values:')
print(*np.round(values, 2), sep=',')

values:
0.1,0.3,0.6,0.9,1.2,1.5,1.8,2.1,2.4,2.7,3.0,3.3,3.6,3.9,4.2

In [6]:
# Get valid noise epsilon
noises = 'n0.003,s0.003,u0.003,n0.005,s0.005,u0.005,s0.008,n0.008,u0.008'.split(',')
noise_eps_detect = []
for n in noises:
    new_noise = n[0] + str(float(n[1:]) * 255)
    noise_eps_detect.append(new_noise)

In [7]:
noise_eps_detect

['n0.765',
 's0.765',
 'u0.765',
 'n1.2750000000000001',
 's1.2750000000000001',
 'u1.2750000000000001',
 's2.04',
 'n2.04',
 'u2.04']

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split

X = np.arange(0, 10, 1)
y = np.concatenate([np.zeros(5), np.ones(5)])
X_train, _, y_train, _ = train_test_split(X, y, train_size=0.5, shuffle=False)
X_train

array([0, 1, 2, 3, 4])

In [1]:
import numpy as np
import pandas as pd

df_list = []
for i in range(5):
    _df = pd.DataFrame({
        'col1': np.random.randn(100),
        'col2': np.random.randint(0, 10, 100),
    })
    df_list.append(_df)

In [4]:
pd.concat(df_list).groupby(level=0).mean()

        col1  col2
0   0.375693   5.8
1  -0.200715   4.4
2   0.443893   5.2
3  -0.665084   4.6
4  -0.739173   4.0
..       ...   ...
95 -0.452463   6.6
96  0.366418   4.6
97 -0.887573   8.2
98 -0.347541   5.0
99 -0.021019   4.0

[100 rows x 2 columns]